version: '3.8'

services:
  http-server:
    image: python:3.11-slim
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    command: python3 -m http.server 8000

  websocket-server:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "3001:3001"
    command: sh -c "npm install && node server.js"